# PrettyTable - красивый вывод таблицы в терминал или текстовый файл

In [6]:
# py -m pip install prettytable
from prettytable import PrettyTable

## Добавление данных в таблицу

In [7]:
# (1) Добавление данных построчно
ta = PrettyTable()
# Поля
ta.field_names = ["Фамилия", "Имя", "Возраст", "ЗП"]
# Данные
ta.add_row(["Иванов", "Иван", 19, 50000])
ta.add_row(["Петров", "Петр", 27, 150000])
ta.add_row(["Сидоров", "Ян", 16, 5000])
# Печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
| Сидоров |  Ян  |    16   |  5000  |
+---------+------+---------+--------+

In [9]:
# (2) Добавление данных сразу всех
ta = PrettyTable()
# Поля
ta.field_names = ["Фамилия", "Имя", "Возраст", "ЗП"]
# Данные
ta.add_rows(
    [
        ["Иванов", "Иван", 19, 50000],
        ["Петров", "Петр", 27, 150000],
        ["Сидоров", "Ян", 16, 5000],
    ]
)
# Печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
| Сидоров |  Ян  |    16   |  5000  |
+---------+------+---------+--------+

In [10]:
ta

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
| Сидоров |  Ян  |    16   |  5000  |
+---------+------+---------+--------+

In [11]:
ta.get_string()

'+---------+------+---------+--------+\n| Фамилия | Имя  | Возраст |   ЗП   |\n+---------+------+---------+--------+\n|  Иванов | Иван |    19   | 50000  |\n|  Петров | Петр |    27   | 150000 |\n| Сидоров |  Ян  |    16   |  5000  |\n+---------+------+---------+--------+'

In [12]:
print(ta.get_string())

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
| Сидоров |  Ян  |    16   |  5000  |
+---------+------+---------+--------+

## Копия таблицы

In [13]:
ta_2 = ta
ta_3 = ta[:-1]

In [14]:
print(ta_3)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
+---------+------+---------+--------+

In [15]:
print(id(ta))
print(id(ta_2))
print(id(ta_3))

2215320023920
2215320023920
2215319927248

## Выравнивание данных в таблице

In [16]:
# Выравнивание всех столбцов таблицы: 'l', 'c', 'r'
ta.align = 'r'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
|  Иванов | Иван |      19 |  50000 |
|  Петров | Петр |      27 | 150000 |
| Сидоров |   Ян |      16 |   5000 |
+---------+------+---------+--------+

In [17]:
ta.align["Фамилия"] = 'l'
ta.align["Возраст"] = 'c'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Иванов  | Иван |    19   |  50000 |
| Петров  | Петр |    27   | 150000 |
| Сидоров |   Ян |    16   |   5000 |
+---------+------+---------+--------+

## Сортировка данных таблицы

In [19]:
print(ta.get_string(sortby="Возраст"))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Сидоров |   Ян |    16   |   5000 |
| Иванов  | Иван |    19   |  50000 |
| Петров  | Петр |    27   | 150000 |
+---------+------+---------+--------+

In [22]:
print(ta.get_string(sortby="Возраст", reversesort=True))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Петр |    27   | 150000 |
| Иванов  | Иван |    19   |  50000 |
| Сидоров |   Ян |    16   |   5000 |
+---------+------+---------+--------+

## Изменить отображение столбцов и кол-во строк

In [23]:
print(ta.get_string(fields=["Имя", "Возраст"]))

+------+---------+
|  Имя | Возраст |
+------+---------+
| Иван |    19   |
| Петр |    27   |
|   Ян |    16   |
+------+---------+

In [24]:
print(ta.get_string(start=1, end=3))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Петр |    27   | 150000 |
| Сидоров |   Ян |    16   |   5000 |
+---------+------+---------+--------+