# PrettyTable - красивый вывод таблицы в терминал или текстовый файл

In [3]:
# py -m pip install prettytable
from prettytable import PrettyTable

## Добавление данных в таблицу

In [4]:
# (1) Добавление данных построчно
ta = PrettyTable()
# Поля
ta.field_names = ["Фамилия", "Имя", "Возраст", "ЗП"]
# Данные
ta.add_row(["Иванов", "Иван", 19, 50000])
ta.add_row(["Петров", "Петр", 27, 150000])
ta.add_row(["Сидоров", "Ян", 16, 5000])
# Печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
| Сидоров |  Ян  |    16   |  5000  |
+---------+------+---------+--------+

In [5]:
# (2) Добавление данных сразу всех
ta = PrettyTable()
# Поля
ta.field_names = ["Фамилия", "Имя", "Возраст", "ЗП"]
# Данные
ta.add_rows(
    [
        ["Иванов", "Иван", 19, 50000],
        ["Петров", "Петр", 27, 150000],
        ["Сидоров", "Ян", 16, 5000],
    ]
)
# Печать
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
| Сидоров |  Ян  |    16   |  5000  |
+---------+------+---------+--------+

In [6]:
ta

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
| Сидоров |  Ян  |    16   |  5000  |
+---------+------+---------+--------+

In [7]:
ta.get_string()

'+---------+------+---------+--------+\n| Фамилия | Имя  | Возраст |   ЗП   |\n+---------+------+---------+--------+\n|  Иванов | Иван |    19   | 50000  |\n|  Петров | Петр |    27   | 150000 |\n| Сидоров |  Ян  |    16   |  5000  |\n+---------+------+---------+--------+'

In [8]:
print(ta.get_string())

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
| Сидоров |  Ян  |    16   |  5000  |
+---------+------+---------+--------+

## Копия таблицы

In [9]:
ta_2 = ta
ta_3 = ta[:-1]

In [10]:
print(ta_3)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 150000 |
+---------+------+---------+--------+

In [11]:
print(id(ta))
print(id(ta_2))
print(id(ta_3))

2743776570448
2743776570448
2743795198816

## Выравнивание данных в таблице

In [12]:
# Выравнивание всех столбцов таблицы: 'l', 'c', 'r'
ta.align = 'r'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
|  Иванов | Иван |      19 |  50000 |
|  Петров | Петр |      27 | 150000 |
| Сидоров |   Ян |      16 |   5000 |
+---------+------+---------+--------+

In [13]:
ta.align["Фамилия"] = 'l'
ta.align["Возраст"] = 'c'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Иванов  | Иван |    19   |  50000 |
| Петров  | Петр |    27   | 150000 |
| Сидоров |   Ян |    16   |   5000 |
+---------+------+---------+--------+

## Сортировка данных таблицы

In [14]:
print(ta.get_string(sortby="Возраст"))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Сидоров |   Ян |    16   |   5000 |
| Иванов  | Иван |    19   |  50000 |
| Петров  | Петр |    27   | 150000 |
+---------+------+---------+--------+

In [15]:
print(ta.get_string(sortby="Возраст", reversesort=True))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Петр |    27   | 150000 |
| Иванов  | Иван |    19   |  50000 |
| Сидоров |   Ян |    16   |   5000 |
+---------+------+---------+--------+

## Изменить отображение столбцов и кол-во строк

In [16]:
print(ta.get_string(fields=["Имя", "Возраст"]))

+------+---------+
|  Имя | Возраст |
+------+---------+
| Иван |    19   |
| Петр |    27   |
|   Ян |    16   |
+------+---------+

In [17]:
print(ta.get_string(start=1, end=3))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Петр |    27   | 150000 |
| Сидоров |   Ян |    16   |   5000 |
+---------+------+---------+--------+

## Экспортировать таблицу в другой формат

In [18]:
print(ta.get_csv_string())

Фамилия,Имя,Возраст,ЗП
Иванов,Иван,19,50000
Петров,Петр,27,150000
Сидоров,Ян,16,5000

In [20]:
print(ta.get_json_string(ensure_ascii=False))

[
    [
        "Фамилия",
        "Имя",
        "Возраст",
        "ЗП"
    ],
    {
        "Возраст": 19,
        "ЗП": 50000,
        "Имя": "Иван",
        "Фамилия": "Иванов"
    },
    {
        "Возраст": 27,
        "ЗП": 150000,
        "Имя": "Петр",
        "Фамилия": "Петров"
    },
    {
        "Возраст": 16,
        "ЗП": 5000,
        "Имя": "Ян",
        "Фамилия": "Сидоров"
    }
]

In [21]:
print(ta.get_html_string())

<table>
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>ЗП</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Иванов</td>
            <td>Иван</td>
            <td>19</td>
            <td>50000</td>
        </tr>
        <tr>
            <td>Петров</td>
            <td>Петр</td>
            <td>27</td>
            <td>150000</td>
        </tr>
        <tr>
            <td>Сидоров</td>
            <td>Ян</td>
            <td>16</td>
            <td>5000</td>
        </tr>
    </tbody>
</table>

In [22]:
print(ta.get_html_string(attributes={"id":"my_table", "class":"super_table"}))

<table id="my_table" class="super_table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>ЗП</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Иванов</td>
            <td>Иван</td>
            <td>19</td>
            <td>50000</td>
        </tr>
        <tr>
            <td>Петров</td>
            <td>Петр</td>
            <td>27</td>
            <td>150000</td>
        </tr>
        <tr>
            <td>Сидоров</td>
            <td>Ян</td>
            <td>16</td>
            <td>5000</td>
        </tr>
    </tbody>
</table>