# Основные объекты в Pandas

In [2]:
# pip install pandas 
import pandas as pd

In [3]:
pd.__version__

'1.5.2'

## Series

In [4]:
s = pd.Series(["Брест", "Харьков", "Сочи", "Тула"])
s

0      Брест
1    Харьков
2       Сочи
3       Тула
dtype: object

In [5]:
s = pd.Series(
    data=["Брест", "Харьков", "Сочи", "Тула"],
    index = ["Крепость", "Госпром", "Море", "Пряник"])
s

Крепость      Брест
Госпром     Харьков
Море           Сочи
Пряник         Тула
dtype: object

In [6]:
# .loc - доступ по меткам
s.loc["Крепость"]

'Брест'

In [7]:
s.Крепость

'Брест'

In [10]:
s.loc[["Крепость", "Госпром"]]

Крепость      Брест
Госпром     Харьков
dtype: object

In [11]:
# .iloc - доступ по порядковому номеру
s.iloc[0]

'Брест'

In [12]:
s.iloc[[0, 2]]

Крепость    Брест
Море         Сочи
dtype: object

In [14]:
# Диапозон
s.iloc[0:2]

Крепость      Брест
Госпром     Харьков
dtype: object

## DataFrame

In [17]:
# (A)
df = pd.DataFrame({
    'col1': [1, 2],
    'col2': [3, 4]
})
df

   col1  col2
0     1     3
1     2     4

In [18]:
# (B)
df = pd.DataFrame(
    data=[[1,2,3],[10,20,30]],
    columns=['aaa','bbb','ccc'],
    index=['line-1', 'line-2'])
df

        aaa  bbb  ccc
line-1    1    2    3
line-2   10   20   30